<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Quản lý khoa</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet">
    <link href="/index/index_css.css" rel="stylesheet">
    <!-- Bootstrap JS -->

</head>
<body>
<!-- Sidebar -->
<div id="sidebar">
    <div class="sidebar-header">
        <h3>Chi tiết dự án</h3>
    </div>
    <ul class="list-unstyled components">
        <li><a th:href="@{/faculties}">Khoa</a></li>
        <li><a th:href="@{/projects}">Dự án</a></li>
        <li><a href="#">Quản lý đánh giá</a></li>
        <li><a href="#">Quản lý tài liệu</a></li>
    </ul>
</div>

<div class="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation" class="navbar-toggler"
                    data-bs-target="#navbarNav" data-bs-toggle="collapse"
                    type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ms-auto">
                    <div class="navbar-brand" th:if="${#authentication.name != 'anonymousUser'}">
                        Welcome, <a class="navbar-brand"
                                    th:text="${#authentication.principal.fullName}">User</a>
                    </div>
                    <div class="nav-item">
                        <form method="post" th:action="@{/logout}">
                            <button class="btn btn-danger" type="submit">Đăng xuất</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- switching displays -->
    <div class="d-flex justify-content-center gap-3" id="showing-details">
        <div>
            <input type="radio" id="project" class="info-display" name="info-display" value="project" checked>
            <label for="project">Thông tin dự án</label>
        </div>
        <div>
            <input type="radio" id="member" class="info-display" name="info-display" value="member">
            <label for="member">Danh sách thành viên</label>
        </div>
    </div>

    <div class="container my-4">
        <div id="project-info-display">
            <h1 class="text-center mb-3">Thông tin dự án</h1>
            <form id="project-form">
                <div class="mb-3">
                    <label class="form-label" for="project-name">Tên dự án</label>
                    <input class="form-control" id="project-name" name="name" type="text" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="project-description">Mô tả dự án</label>
                    <input class="form-control" id="project-description" name="description" type="text" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="project-start">Ngày bắt đầu</label>
                    <input class="form-control" id="project-start" name="start-date" type="date" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="project-end">Dự kiến kết thúc</label>
                    <input class="form-control" id="project-end" name="end-date" type="date">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="project-faculty">Khoa đào tạo</label>
                    <select name="faculty" id="project-faculty" class="form-control"></select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="project-status">Trạng thái</label>
                    <select name="status" id="project-status" class="form-control">
                        <option value="Pending">Đang chờ</option>
                        <option value="InProgress">Đang thực hiện</option>
                        <option value="Completed">Hoàn thành</option>
                        <option value="Cancelled">Đã huỷ</option>
                    </select>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary w-100" type="submit">Sửa thông tin</button>
                </div>

            </form>
            <hr />
            <div>
                <h3>Xoá dự án</h3>
                <p>Việc này cũng sẽ xoá những thông tin sinh viên có trong dự án này.</p>
                <button class="btn btn-danger float-end" onclick="deleteProject()">Xoá dự án</button>
            </div>
        </div>

        <div id="member-list-display" style="display:none">
            <h1 class="text-center mb-3">Danh sách thành viên</h1>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Họ Tên</th>
                    <th>Mã sinh viên</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="project-table-body">
                <tr>
                    <td>+</td>
                    <td class="mb-2">
                        <input class="form-control" id="member-name" placeholder="Họ tên" type="text"/>
                    </td>
                    <td>
                        <input class="form-control" id="member-code" placeholder="Mã số sinh viên" type="text"/>
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="addMember()" style="height:fit-content" type="button">Thêm
                            sinh viên
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    #project-infomation > div > :nth-child(1) {
        font-weight: bold;
    }

    td {
        vertical-align: middle;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    let params = new URLSearchParams(document.location.search);
    let projectId = params.get("id");
    let memberList = [];

    // Hàm fetch dữ liệu từ API và hiển thị lên giao diện
    async function fetchFaculties() {
        try {

            const response = await fetch('/projects/' + projectId); // Gọi API
            if (!response.ok) {
                throw new Error('Failed to fetch data');
            }

            const data = await response.json(); // Parse JSON
            const projectInfo = data.project;

            const resp = await fetch('/faculties/view');
            const faculties = await resp.json();

            faculties.forEach(e => {
                document.getElementById("project-faculty").innerHTML += `
                    <option value="${e.id}">${e.name}</option>`;
            })

            document.getElementById("project-name").value = projectInfo.name;
            document.getElementById("project-description").value = projectInfo.description;
            document.getElementById("project-start").value = projectInfo.startday;
            document.getElementById("project-end").value = projectInfo.endday;
            document.getElementById("project-faculty").value = projectInfo.faculty.id;
            document.getElementById("project-status").value = projectInfo.status;

            // Hiển thị dữ liệu trong bảng
            const tableBody = document.getElementById('project-table-body');
            data.members.forEach((member, index) => {
                memberList.push(member.id);
                const row = `
                        <tr>
                            <td>${index + 1}</td>
                            <td>${member.name}</td>
                            <td>${member.masinhvien}</td>
                            <td>
                                <a class="btn btn-danger" onclick="handleDelete(${member.id})">Loại bỏ</a>
                            </td>
                        </tr>

                    `;
                tableBody.innerHTML += row;
            });
        } catch (error) {
            console.error('Error fetching faculties:', error);
            document.getElementById('error-message').textContent = 'Failed to load project data.';
        }
    }



    // for displaying different page
    let matches = document.querySelectorAll('.info-display')

    for (let match in matches) {
        matches[match].onchange = function() {
            switch (this.value) {
                case "project":
                    document.getElementById("project-info-display").style.display = "";
                    document.getElementById("member-list-display").style.display = "none";
                    break;
                case "member":
                    document.getElementById("member-list-display").style.display = "";
                    document.getElementById("project-info-display").style.display = "none";
                    break;

            }
        }
    }

    // delete member off project
    async function handleDelete(id) {
        try {
            const response = await fetch('/projectmembers/delete/' + id, {method: 'DELETE'}); // Gọi API
            if (response.ok) window.location.reload();
        } catch (e) {
            console.error(e);
            document.getElementById('error-message').textContent = 'Delete operation failed.';
        }
    }

    // delete the whole project
    async function deleteProject() {
        await memberList.forEach(member => handleDelete(member));
        const response = await fetch('/projects/delete/' + projectId, {method: 'DELETE'});

        if (response.ok) window.location.replace("/projects");
    }

    // Gọi hàm khi trang được tải
    document.addEventListener('DOMContentLoaded', fetchFaculties);

    document.getElementById("project-form").addEventListener('submit', async e => {
        e.preventDefault();

        const form = {
            id: projectId,
            name: document.getElementById("project-name").value,
            description: document.getElementById("project-description").value,
            startday: document.getElementById("project-start").value,
            endday: document.getElementById("project-end").value,
            status: document.getElementById("project-status").value,
            faculty: { id: document.getElementById("project-faculty").value }
        }

        // Serialize the object as JSON
        const jsonData = JSON.stringify(form);

        console.log(jsonData)

        const response = await fetch("/projects/update", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        });

        if (response.ok) window.location.reload();
    });

    async function addMember() {
        // Create an object from form fields
        const formObject = {
            project: {id: projectId},
            name: document.getElementById('member-name').value,
            masinhvien: document.getElementById('member-code').value,
            role: "Member"
        };

        if (formObject.name === "" || formObject.masinhvien === "") return;

        // Serialize the object as JSON
        const jsonData = JSON.stringify(formObject);

        console.log(jsonData)

        const response = await fetch("/projectmembers/create", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        });

        if (response.ok) window.location.reload();
    }
</script>
</body>
</html>
